{% extends "base.html" %}
{% load static %}
{% load materializecss %}

{% load bootstrap_tags %}


{% block content %}
<div id="page-index">
  <div class="row header">
    <div class="row top-menu">
      <div class="col s8 m8 l8 plain-element left-align">
      </div>
    </div>
  </div>
  <div class="dashboard-cards">
    <div class="row row-break"></div>
    <div class="row row-cards center-align">
      <div class="col s12 m4 l4 plain-element">
        <a href="{% url 'db_manager:products-upload' %}">
          <div class="card menu-card">
            <div class="card-image"><img
                    src="{% static 'img/products.jpg' %}"
                    class="img responsive">
            </div>
            <button class="btn btn-menu-card">
              Products Upload
            </button>
          </div>
        </a>
      </div>
      <div class="col s12 m4 l4 plain-element">
        <a href="{% url 'db_manager:documents-upload' %}">
          <div class="card menu-card">
            <div class="card-image"><img
                    src="{% static 'img/docs.jpg' %}"
                    class="img responsive">
            </div>
            <button class="btn btn-menu-card">
              Documents Upload
            </button>
          </div>
        </a>
      </div>
      <div class="col s12 m4 l4 plain-element">
        <a href="{% url 'db_manager:topics-upload' %}">
          <div class="card menu-card">
            <div class="card-image"><img
                    src="{% static 'img/topics.jpg' %}"
                    class="img responsive">
            </div>
            <button class="btn btn-menu-card">
              Topics Upload
            </button>
          </div>
        </a>
      </div>

    </div>
  </div>
</div>
{% endblock %}


