{% extends "base.html" %}
{% load staticfiles %}
{% load materializecss %}

{% load bootstrap_tags %}


{% block content %}
<div id="page-index">
    <div class="dashboard-cards">
        <div class="row row-search">
            <h4> Database Management</h4>
        </div>
        <div class="row row-cards text-left">
            <div class="row">
                <div class="col-md-3 plain-element">
                    <button class="btn btn-function">
                        <i class="fas fa-upload"></i> Upload Dataset
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 plain-element">
                    <button class="btn btn-function">
                        <i class="fas fa-upload"></i> Products Upload
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 plain-element">
                    <button class="btn btn-function">
                        <i class="fas fa-upload"></i> Documents Upload
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 plain-element">
                    <button class="btn btn-function">
                        <i class="fas fa-upload"></i> Topics Upload
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 plain-element">
                    <button class="btn btn-function">
                        <i class="fas fa-chart-bar"></i> Database Report
                    </button>
                </div>
            </div>
        </div>
        <div class="row row-cards text-left">

        </div>


    </div>
</div>
{% endblock %}


