{% extends "base.html" %}
{% load static %}
{% load materializecss %}

{% load bootstrap_tags %}


{% block content %}
<div id="page-index">
    <div class="dashboard-cards">
        <div class="row row-break"></div>
        <div class="row row-cards">
            <div class="card product-description">
                <div class="col s5 m5 l5 plain-element text-left">
                    <div class="row plain-element text-left" style="display:block">
                        <img src="{% static 'img/products/sample1.jpg' %}" class="img responsive img-description">
                    </div>
                    <br>
                    <div class="row plain-element text-left" style="display:block">
                        <img src="{% static 'img/products/sample1.jpg' %}" class="img responsive">
                        <img src="{% static 'img/products/sample2.jpg' %}" class="img responsive">
                        <img src="{% static 'img/products/sample3.jpg' %}" class="img responsive">
                    </div>

                </div>
                <div class="col s6 m7 l7 plain-element">
                    <div class="row plain-element text-left">
                        <h4>GEO WiFi Thermostat</h4>
                        <h5>by <a>LUX</a></h5>
                    </div>
                    <div class="row row-functions text-left">
                        <a class="btn btn-document" href="">
                            <i class="fas fa-file-pdf"></i> &nbsp; Document in PDF
                        </a>
                        <a class="btn btn-document" href="">
                            <i class="fab fa-html5"></i> &nbsp; Document in HTML
                        </a>
                    </div>
                    <div class="row plain-element text-left">
                        <h6>Category: </h6>
                        <p>Digital Thermostat, Network Thermostat</p>
                    </div>
                    <div class="row plain-element text-left">
                        <h6>Product Codes: </h6>
                        <p>FX-ATV7003-0, FX-BTCVT-1, FX-BTCVTCBL-700, FX-PCA2611-0, FX-PCA2612-1, FX-PCA2612-2, FX-PCA3611-0, FX-PCA4911-0,
                            FX-PCG1611-0, FX-PCG1611-0ET, FX-PCG1611-0G, FX-PCG1611-1, FX-PCG1611-1ET, FX-PCG1621-0, FX-PCG1621-0G, FX-PCG1621-1,
                            FX-PCG2611-0, FX-PCG2611-0ET, FX-PCG2611-0G, FX-PCG2621-0, FX-PCG2621-0G, FX-PCT-0, FX-PCT-6, FX-PCV1610-0,
                            FX-PCV1610-0G, FX-PCV1615-0, FX-PCV1615-0G, FX-PCV1615-1, FX-PCV1615-1G, FX-PCV1620-0, FX-PCV1620-0G,
                            FX-PCV1626-0, FX-PCV1626-0G, FX-PCV1626-1, FX-PCV1626-1G, FX-PCV1628-0, FX-PCV1628-0G, FX-PCV1628-1,
                            FX-PCV1628-1G, FX-PCV1630-0, FX-PCV1630-0G, FX-PCV1630-1, FX-PCV1630-1G, FX-PCV1656-0, FX-PCV1826-0,
                            FX-PCV1826-0G, FX-PCV1930-0, FX-PCX1711-0, FX-PCX2711-0, FX-PCX2711-1, FX-PCX2711-2, FX-PCX2721-0,
                            FX-PCX3711-0, FX-PCX3711-1, FX-PCX3711-2, FX-PCX3721-0, FX-PCX3731-0, FX-PCX4711-0, Not Specified</p>
                    </div>
                    <div class="row plain-element text-left">
                        <h6>Product Series: </h6>
                        <p>13.376515Z</p>
                    </div>
                    <div class="row plain-element text-left">
                        <h6>Part Number: </h6>
                        <p>01T20:26:1</p>
                    </div>
                    <div class="row plain-element text-left">
                        <h6>Business:  </h6>
                        <p>Building Automation and Controls NA</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


