{% extends "base.html" %}
{% load staticfiles %}
{% load materializecss %}

{% load bootstrap_tags %}


{% block content %}
<div id="page-index">
    <div class="dashboard-cards">
        <div class="row row-break"></div>
        <div class="row row-cards">
            <div class="card card-description">
                <div class="row plain-element text-left row-back">
                    <router-link :to="{ name: 'brand-details', params: {brand: document.document_brand}}">
                        <i class="fas fa-chevron-left"></i> Back To Search
                    </router-link>
                </div>
                <br>
                <div class="row plain-element">
                    <div class="col s6 m6 l6 plain-element">
                        <div class="row plain-element text-left">
                            <h4>02 MCL Tool 5.3 User Guide Section 1: Software Overview</h4>
                            <h5> MCL Tool  </h5>
                        </div>
                        <div class="row row-functions text-left">
                            <a class="btn btn-document" href="">
                                <i class="fas fa-file-pdf"></i> &nbsp; Document in PDF
                            </a>
                            <a class="btn btn-document" href="">
                                <i class="fas fa-file-code"></i> &nbsp; Document in HTML
                            </a>
                        </div>

                        <div class="row plain-element text-left">
                            <h6>Document Number: </h6>
                            <p>TD-2058</p>
                        </div>
                        <div class="row plain-element text-left">
                            <h6>Document Version: </h6>
                            <p>Not Specified</p>
                        </div>
                        <div class="row plain-element text-left">
                            <h6>Document Type: </h6>
                            <p>Not Specified</p>
                        </div>
                        <div class="row plain-element text-left">
                            <h6>Date Created: </h6>
                            <p>2003-12-31</p>
                        </div>
                        <div class="row plain-element text-left">
                            <h6>Last Edition:  </h6>
                            <p>2003-12-31</p>
                        </div>
                        <div class="row plain-element text-left">
                            <h6>Last Publication: </h6>
                            <p>2003-12-31</p>
                        </div>
                    </div>
                    <div class="col s6 m6 l6 plain-element">
                        <div class="row plain-element text-left">
                            <h4>Document Topics:</h4>
                            <h6  class="btn-collapse">Open Collapsible</h6>
                            <div class="content">
                            <p>Lorem ipsum...</p>
                        </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


