/*----------------------------------------------
    COMMON  STYLES
------------------------------------------------*/


body {
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    margin: 0;
    padding-bottom: 0;
    background-color: #f9f9f9;
}

html {
    height: 100%;
    box-sizing: border-box;
}


#page-index {
    width: 100%;
    display: block;
    overflow: auto;
    position: relative;
    top: 56px;
}

#page-index a {
    text-decoration: none;
    outline: 0;
}


.text-center {
    text-align: center;
}

.plain-element {
    margin: 0px !important;
    padding: 0px !important;
}

.col .row {
    margin-left: 0;
    margin-right: 0;
}

.hide {
  display: none;
}


/*------------------------------------------------------------------------------
    Row Header
------------------------------------------------------------------------------*/

.header {
    height: 150px;
    margin: 0px;
    padding: 50px 10% 0px 10%;

}

.img-header {
    position:relative;
    height: 120px;
    margin-top: 15px;
}

.summary {
    height: 150px;
    padding: 15px 30px;
    color: #333333 !important;
    margin: 0px;

}

.summary b {
    color: #003f67;
    font-size: 1.4rem;
}

.header-small {
    height: 120px;
}

a {
    color: #4267b2
}

a:hover {
    text-decoration: none;
}

.overflow_hidden {
    overflow: hidden !important;
}

.transparent {
    background: transparent;
}


/*----------------------------------------------
    SEARCHBOX
------------------------------------------------*/

.col-brand {
  line-height: 100px;
  height: 100px;
  padding-left: 0px !important;
}

.img-banner {
  border-radius: 4px;
  height: 100%;
  max-width: 100%;
  margin-right: 0.5%;
  box-shadow: 1px 1px 1px 0px #c7c7c7;
  border: 1px solid #c7c7c7;
  cursor: pointer;
}



.col-searchbox {
    line-height: 100px;
    height: 100px;
}

.row-search {
    margin: 50px 0px;
}

.row-search h4 {
    font-size: 42px;
    color: #5f6368;
    margin-bottom: 30px;

}

.searchbox-wrapper {
    position: relative;
    width: 80%;
    margin: auto;
}

.searchbox-wrapper-long {
    position: relative;
    width: 100%;

}


.btn-transparent {
    position: absolute;
    top: -2px;
    right: 20px;
    font-size: 28px;
    height:100%;
    color: #4267b2;
    background: transparent;
    box-shadow: none;
    border: none;
}

.btn-transparent:hover,
.btn-transparent:active,
.btn-transparent:focus {
    background: transparent;
    box-shadow: none;
    border: none;
}


#searchbox {
    box-shadow: 0 1px rgba(188,188,183,0.30);
    border: 1px solid rgba(188,188,183,0.50);
    border-radius: 8px;
    width: 97.5%;
    margin: auto;
    padding: 4px 8px;
    font-size: 18px;
    background: #fff;
}



.row-error {
  margin: 10px;
  height: 16px;
  font-size: 16px;
}

.row-error p {
  margin: 0px;
}

.error {
   color: red !important;
}

.resultCount {
    color: #0054a0 !important;
    font-size: 18px;
    margin-left: 2px;
}

/*----------------------------------------------
    Row Message
------------------------------------------------*/

.row-message {
  position: absolute;
  width: 100%;
}

.alert {
  position: absolute;
  width: 100%;
}

.messages {
    height: 20px;
}




/*----------------------------------------------
    MENU CARD
------------------------------------------------*/

.row-menu {
  width: 60%;
  margin: auto;
}

.menu-card {
    box-shadow: 1px 1px 2px 2px #A9A9A9;
    text-align: left;
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
    float: none;
    border-radius: 5px;
    cursor: pointer;

}

.menu-card .card-image {

}


.menu-card:hover {
    box-shadow: 0 3px 3px 0 #414141, 0 3px 2px -2px #414141, 0 2px 5px 0 #414141;
}



/*----------------------------------------------
    BUTTONS
------------------------------------------------*/

.btn-function {
    background-color: #f2f2f2;
    color: #777777;
    font-weight: 600;
    border: 1px solid #ddd;
    height: 60px;
    font-size: 16px;
    border-radius: 2px;
    width: 240px;
    margin: 10px 0px;
}

.btn-function i {
    font-size: 20px;
    margin-right: 5px;
}

.btn-function:hover,
.btn-function:active,
.btn-function:focus {
    background-color: #d8d8d8;
    outline: none !important;
}




/*------------------------------------------------------------------------------
    SEARCH FUNCTIONS
------------------------------------------------------------------------------*/

.row-table-functions {
    height: 84px;
}

.col-results {
    padding: 0x !important;

}

.col-results p {
    float: left;
}

.col-load-more {
    position: relative;
}

.filter-wrapper {
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
}

.filter-wrapper label {
    margin: 0px;
    color: #55595d;
}

#tableSearch {
  margin-bottom: 30px;
}

#tableSearch input{
  text-align: center !important;

}

.place-holder-center::placeholder {
      text-align: center;
      color: #999;
  }

input[type="text"]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #90c73e;
    box-shadow: 0 1px 0 0 #90c73e;

}


/*------------------------------------------------------------------------------
    FOOTER
------------------------------------------------------------------------------*/

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-left: 9.5%;
    padding-right: 10.5%;
    text-align: center;
    background-color: transparent;
}

.footer-right p{
    float: right !important;
}

.footer-left p{
    float: left !important;
}

.footer p {
    margin: 0;
    font-size: 12px;
    color: #868e96;
    padding: 15px 0px;
    text-align: center;
}

.footer a {
    color: #868e96;
}

.footer a:hover,
.footer a:focus,
.footer a:active {
    color: #4f84ae;
    text-decoration: none;
}

/*----------------------------------------------
    ERROR 404
------------------------------------------------*/
#errorContainer {
  padding-top: 40px;
  height: 900px;
  background: white;
  text-align: center;
}


#mainContainer { margin:0 auto 20px auto; width:940px; padding:0; text-align:left; }
.company { display:inline; float:left; margin:40px 0 0px 280px; }
.robot { display:inline; float:left; width:280px; margin:0; overflow:visible; }
.error-header { display:inline; float:left; width:660px; font-size:20px; margin:50px 0 0 0; }
.mainContent { display:inline; float:left; width:660px; }
.largeFont { font-size:24px; }
.p-error { margin:18px 0; padding:0; line-height:1.4em; font-size:16px;}
.ul-error { margin:-10px 0 0 26px; padding:0; }
.ul-error li { margin:5px 0; padding:0; font-size:16px;}
.ul-error a { color:#3366cc; text-decoration:none; font-size:17px;}


/*----------------------------------------------
    ANIMATIONS & EFFECTS
------------------------------------------------*/


/*----------------------------------------------
    MEDIA QUERIES
------------------------------------------------*/


@media(max-width:1700px) {

    .row-menu {
      width: 80%;
    }

    .footer {
      padding-left: 0.5%;
      padding-right: 0.5%;
    }

    .header {
      padding: 50px 0.5% 0px 1%;
    }


}



@media(max-width:1361px) {

    .summary {
      padding: 15px 50px;
    }

    .menu-card .card-header p {
      width: 75%;
    }

    .menu-card {
        width: 90%;
    }


}

@media(max-width:1200px) {


    .menu-card .row-comment {
      height: 36px;

    }

}


@media(max-width:1025px) {

    .menu-card {
      width: 90%;
    }


    .menu-card .card-content b{
        font-size: 11px;

    }

    .row-menu {
      width: 100%;
    }

    .col-brand {
      display: none;
    }

    .col-searchbox {
      padding: 0px !important;
    }


}

@media(max-width:800px) {


}

@media(max-width:600px) {

  .header {
    padding: 50px 4% 0px 2%;
  }

  .btn-transparent {
    right: 0px;
  }


}



